{% extends 'admin/change_form.html' %}

{% block extrahead %}
    {{ block.super }}
    <style>
        /* Estilo para limitar a largura do campo select no formulário */
        #id_meta {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
		
		#id_subetapa {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #make-unique-button {
            background-color: #f47c3c;
            color: white;
            padding: 8px 50px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        #make-unique-button:hover {
            background-color: #d9534f;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const makeUniqueButton = document.getElementById('make-unique-button');
            const metaField = document.getElementById('id_meta');

            makeUniqueButton.addEventListener('click', function (e) {
                // Armazena o valor atual de 'meta'
                const currentMetaValue = metaField.value;

                // Converte 'currentMetaValue' para inteiro
                const metaId = parseInt(currentMetaValue);

                // Verifica se a conversão foi bem-sucedida
                if (!isNaN(metaId)) {
                    // Adicione lógica aqui para manipular o clique do botão
                    const redirectUrl = `/appPainel/monitoramentoetapa/add/?meta=${metaId}`;
                    window.location.href = redirectUrl;

                    // Impede a submissão padrão do formulário
                    e.preventDefault();
                } else {
                    console.error('Erro ao converter valor de meta para inteiro:', currentMetaValue);
                }
            });
        });
    </script>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row" style="margin-top: 20px; text-align: center;">
        <input type="submit" value="Filtrar Meta" name="_make-unique" id="make-unique-button">
    </div>
{% endblock %}
