{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row" style="margin-top: 20px; text-align: center;">
        <style>
            /* Estilos CSS para personalizar o botão */
            #make-unique-button {
                background-color: #4CAF50; /* Cor de fundo padrão */
                color: white; /* Cor do texto padrão */
                padding: 15px 30px; /* Tamanho padrão do botão */
                border: none; /* Sem borda */
                border-radius: 4px; /* Cantos arredondados */
                cursor: pointer; /* Cursor do mouse */
                font-size: 16px; /* Tamanho da fonte padrão */

                /* Estilos ao passar o mouse por cima do botão */
                transition: background-color 0.3s;
            }

            #make-unique-button:hover {
                background-color: #45a049; /* Cor de fundo ao passar o mouse */
            }
        </style>
        <input type="submit" value="Filtrar Meta" name="_make-unique" id="make-unique-button">
    </div>
{% endblock %}


{% block extrahead %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const makeUniqueButton = document.getElementById('make-unique-button');
            const metaField = document.getElementById('id_meta');

            makeUniqueButton.addEventListener('click', function (e) {
                // Armazena o valor atual de 'meta'
                const currentMetaValue = metaField.value;

                // Converte 'currentMetaValue' para inteiro
                const metaId = parseInt(currentMetaValue);

                // Verifica se a conversão foi bem-sucedida
                if (!isNaN(metaId)) {
                    // Cancela a submissão padrão do formulário
                    e.preventDefault();

                    // Adicione lógica aqui para manipular o clique do botão
                    const redirectUrl = `/appPainel/monitoramentoetapa/add/?meta=${metaId}`;

                    // Use setTimeout para dar tempo à mudança do campo 'meta' ser processada
                    setTimeout(function () {
                        window.location.href = redirectUrl;
                    }, 0);
                } else {
                    console.error('Erro ao converter valor de meta para inteiro:', currentMetaValue);
                }
            });
        });
    </script>
{% endblock %}
