{% load i18n %}

<div class="form-group">
    <label style="margin-right: 10px;">{{ title }}</label>
    <div class="filter-container" style="display: flex;">
        <select class="form-control search-filter" style="width: 90%;" size="5" tabindex="-1" aria-hidden="true" data-name="{{ field_name }}">
            <option value="">TODOS</option>
            <option value=""> <br> </option>
            {% for choice in choices %}
                {% if choice.name %}
                    <option data-name="{{ choice.name }}" value="{{ choice.value }}" {% if choice.selected %}selected {% endif %}>
                        {{ choice.display }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        <!-- Remove the redundant search button -->
    </div>
</div>
